body {
    background-color: #1F2937;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-family: monospace;
}

.board {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    gap: 6px;
}

.cell {
    background-color: #686868;
    flex: 1 0 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px black;
    transition: 100ms;
}

.cell:hover, .restart-btn:hover {
    box-shadow: 5px 5px black;
    transform: translate(-1%, -1%);
    background-color: #282828;
}

.choice {
    font-size: 48px;
    color: white;
    
}

.restart-btn {
    background-color: #686868;
    border-radius: 15px;
    border: 0px;
    padding: 8px 16px;
    font-family: monospace;
    font-size: 24px;
    color: white;
    font-weight: 400;
    box-shadow: 2px 4px black;
}

.player-info, .turn-info {
    font-size: 16px;
}

.game-alert {
    font-size: 32px;
    font-weight: 700;
}