.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-family: monospace;
}

.board {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.cell {
    background-color: #282828;
    flex: 1 1 auto;
    margin: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    font-size: 24px;
    color: white;
}

.restart-btn {
    background-color: #282828;
    border-radius: 15px;
    border: 0px;
    padding: 8px 16px;
    font-family: monospace;
    font-size: 24px;
    color: white;
    font-weight: 400;
}

.player-info, .turn-info {
    font-size: 16px;
}

.game-alert {
    font-size: 32px;
    font-weight: 700;
}